<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="IE=Edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <title></title>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/icon-base64.css"/>
</head>
<body>
<header class="nav fixed">
    <!--点击go-back元素会启动window.history.back()-->
    <div class="nav-l go-back">
        <i class="icon-base i-back"></i>
    </div>
    <div class="nav-m">搜索</div>
    <div class="nav-r"></div>
</header>
<section  class="mobile-container default-f-s stopMove nav-top-p">
    <div>
        <div class="sort-option">
            <div class="item active">综合排序</div>
            <div class="item">销售</div>
            <!--点击触发切换视图的方法-->
            <!--点击触发切换视图的方法-->
            <!--点击触发切换视图的方法-->
            <div class="switch-view">
                <i class="icon-base i-unwind"></i>
            </div>
        </div>
        <div class="search-box bor-t">
            <div class="s-b-box">
                <i class="icon-base i-search"></i>
                <input class="input" type="text" placeholder="请输入商品名称"/>
            </div>
            <a class="s-b-search">搜索</a>
        </div>
        <div class="product">
            <div class="static-layout">
                <div class="static-list">
                    <p class="list-img">
                        <img src="images/t3.png" alt=""/>
                    </p>
                    <div class="list-text">
                        <p class="text-detail more-ellipsis">美国弹簧避震 弹簧避震 适用于一起系列 正品改装短弹簧适用于一起系列 EDDY弹簧避震</p>
                        <div class="clear">
                            <p class="left red now-price">￥<span>103~1236</span></p>
                            <p class="left text-deco l-small">￥<span>103~1236</span></p>
                            <p class="right l-small">月销售<span>20</span>件</p>
                        </div>
                    </div>
                </div>
                <div class="static-list">
                    <p class="list-img">
                        <img src="images/t3.png" alt=""/>
                    </p>
                    <div class="list-text">
                        <p class="text-detail more-ellipsis">美国弹簧避震 弹簧避震 适用于一起系列 正品改装短弹簧适用于一起系列 EDDY弹簧避震</p>
                        <div class="clear">
                            <p class="left red now-price">￥<span>103~1236</span></p>
                            <p class="left text-deco l-small">￥<span>103~1236</span></p>
                            <p class="right  l-small">月销售<span>20</span>件</p>
                        </div>
                    </div>
                </div>
                <div class="static-list">
                    <p class="list-img">
                        <img src="images/t3.png" alt=""/>
                    </p>
                    <div class="list-text">
                        <p class="text-detail more-ellipsis">美国弹簧避震 弹簧避震 适用于一起系列 正品改装短弹簧适用于一起系列 EDDY弹簧避震</p>
                        <div class="clear">
                            <p class="left red now-price">￥<span>103~1236</span></p>
                            <p class="left text-deco l-small">￥<span>103~1236</span></p>
                            <p class="right  l-small">月销售<span>20</span>件</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rec-detail waterfall hide" data-pinterest="product"></div>
        </div>
    </div>
</section>


<script src="js/jquery.min.js"></script>
<script src="js/pinterest.js"></script>
<script src="js/interaction.js"></script>
</body>
</html>