<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="IE=Edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <title></title>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/icon-base64.css"/>
</head>
<body>
<section class="mobile-container  big-padding normal-size pageShowModel stopTop">
    <div class="product-page1 pageItem clear active">
        <div class="part-move">
            <div class="carousel">
                <ul id="product" class="bigBanner"></ul>
                <ul class="smallList"></ul>
                <div class="mask-btn go-back">
                    <i class="icon-base i-back-white"></i>
                </div>
            </div>
            <div class="product-describe">
                <p class="describe-title">Autobot车载空气净化器 空气增压系统 多色可选</p>
                <div class="clear">
                    <p class="left price">￥<span>199.00</span></p>
                    <p class="left market-price">市场价：￥<span>259.00</span></p>
                </div>
            </div>
            <div class="product-data a-pad">
                <p class="a-height">库存：<span>现货</span></p>
                <p class="a-height">运费：<span>8元</span></p>
            </div>
            <div class="product-choice  show-mask">
                <p>选择：规格/数量</p>
                <i class="icon-base i-rArrows small"></i>
            </div>
        </div>
        <div class="product-switch part-touch" data-go="松手即可查看商品描述" data-do="上滑查看商品描述~~~~">
            <span class="txt">上滑查看商品描述~~~~</span>
            <img src="images/loading.gif" class="loading-img hide" style="height:1rem;"/>
        </div>
    </div>
    <div class="normal-size product-page2 clear hide pageItem">
        <div class="nav">
            <div class="nav-l go-top">
                <i class="icon-base i-back"></i>
            </div>
            <div class="nav-m">商品描述</div>
            <div class="nav-r"></div>
        </div>
        <div class="page2-content"></div>
    </div>
</section>
<footer class="bottom-container">
    <div class="flex-full bottom-btn">
        <a class="item" href="#">
            <p class="icon-base i-home-black"></p>
            <p class="bottom-txt">返回首页</p>
        </a>
        <a class="item" href="#">
            <p class="icon-base i-car-black relative">
                <span class="show-content" data-number="2">2</span>
            </p>
            <p class="bottom-txt">购物车</p>
        </a>
        <a class="item add-car" href="#">加入购物车</a>
        <a class="item buy-now" href="#">立即购买</a>
    </div>
</footer>
<div class="mask hide stopMove">
    <div class="mask-shade close-mask"></div>
    <div class="mask-content specification big-size">
        <div class="intro-detail">
            <div class="intro-img">
                <img src="images/t3.png" alt=""/>
            </div>
            <div class="intro-txt">
                <div class="base-flex">
                    <p class="price">
                        ￥<span>199.00</span>
                    </p>
                    <p class="text-deco">
                        市场价：￥<span>259.00</span>
                    </p>
                </div>
                <p class="intro-txt-p">
                    商品编码：<span>154687</span>
                </p>
                <p class="intro-txt-p">
                    库存：<span>36</span>
                </p>
            </div>
            <div class="intro-close close-mask">
                <i class="icon-base i-close small"></i>
            </div>
        </div>
        <div class="intro-scroll moveParent">
            <div class="detail-content moveChild">
                <div class="color-intro">
                    <div class="a-line end-flex">颜色：</div>
                    <div class="a-line">
                        <p class="small-box-btn">玫瑰金</p>
                        <p class="small-box-btn active">灰色</p>
                        <p class="small-box-btn">金色</p>
                    </div>
                </div>
                <div class="color-intro">
                    <div class="a-line end-flex">颜色：</div>
                    <div class="a-line">
                        <p class="small-box-btn">玫瑰金</p>
                        <p class="small-box-btn active">灰色</p>
                        <p class="small-box-btn">金色</p>
                    </div>
                </div>
                <div class="color-intro">
                    <div class="a-line end-flex">颜色：</div>
                    <div class="a-line">
                        <p class="small-box-btn">玫瑰金</p>
                        <p class="small-box-btn active">灰色</p>
                        <p class="small-box-btn">金色</p>
                    </div>
                </div>
                <div class="color-intro">
                    <div class="a-line end-flex">颜色：</div>
                    <div class="a-line">
                        <p class="small-box-btn">玫瑰金</p>
                        <p class="small-box-btn active">灰色</p>
                        <p class="small-box-btn">金色</p>
                    </div>
                </div>
                <div class="color-intro">
                    <div class="a-line end-flex">颜色：</div>
                    <div class="a-line">
                        <p class="small-box-btn">玫瑰金</p>
                        <p class="small-box-btn active">灰色</p>
                        <p class="small-box-btn">金色</p>
                    </div>
                </div>
                <div class="color-intro">
                    <div class="a-line end-flex">颜色：</div>
                    <div class="a-line">
                        <p class="small-box-btn">玫瑰金</p>
                        <p class="small-box-btn active">灰色</p>
                        <p class="small-box-btn">金色</p>
                    </div>
                </div>
                <div class="color-intro">
                    <div class="a-line end-flex">颜色：</div>
                    <div class="a-line">
                        <p class="small-box-btn">玫瑰金</p>
                        <p class="small-box-btn active">灰色</p>
                        <p class="small-box-btn">金色</p>
                    </div>
                </div>
              <div class="buy-content">
                  <div class="a-line end-flex">购买数量：</div>
                  <div class="a-line flex-btn">
                      <p  class="btn minus">-</p>
                      <input type="button" value="1" class="value" readonly/>
                      <p class="btn plus active">+</p>
                  </div>
              </div>
            </div>
        </div>
        <div class="bottom-btn flex-full bottom-ab">
            <a href="#" class="item add-car">加入购物车</a>
            <a href="#" class="item buy-now">立即购买</a>
        </div>
    </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/carousel-1.js"></script>
<script src="js/interaction.js"></script>
<script src="js/page-move.js"></script>
<script>
    //启动轮播
    if(!!img){
        carousel.init($('.carousel'),$('.bigBanner'),$('.smallList'),img2);
    }

</script>
</body>
</html>