<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="IE=Edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <title></title>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/icon-base64.css"/>
</head>
<body>
<header class="nav fixed">
    <!--点击go-back元素会启动window.history.back()-->
    <div class="nav-l go-back">
        <i class="icon-base i-back"></i>
    </div>
    <div class="nav-m">我的售后</div>
    <div class="nav-r"></div>
</header>
<section  class="mobile-container default-f-s stopMove nav-top-p">
    <div>
        <div class="a-list order-option">
            <a href="#" class="item active" data-option="all">全部售后</a>
            <a href="#" class="item" data-option="after-hand">处理中</a>
            <a href="#" class="item" data-option="after-over">售后完成</a>
        </div>
        <div class="a-order after-sale" data-order="after-hand">
            <div class="first-line">
                <div style="font-size: 0.5rem;color:#141414;">
                    <p>售后申请编号：326013047674</p>
                    <p>申请时间：326013047674</p>
                </div>
                <p class="gray-pay b">处理中</p>
            </div>
            <div class="goods-detail">
                <p class="img-part"><img src="images/test1.jpg" alt="图片暂缺"/></p>
                <div class="txt-part">
                    <p class="more-ellipsis">Autobot Q车载手机支架汽车磁性粘贴吸盘式吸磁力出风口苹果粘贴吸盘式吸磁力出风口苹果</p>
                    <div class="flex-between">
                        <p class="one-ellipsis">
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                        </p>
                        <p class="count">
                            x3
                        </p>
                    </div>
                </div>
            </div>
            <div class="fourth-line">
                <p style="font-size: 0.45rem;color:#3c3c3c;">售后类型：退款退货</p>
                <a href="#" class="red btn show-mask" data-info="cancel">取消售后</a>
            </div>
        </div>
        <div class="a-order after-sale" data-order="after-over">
            <div class="first-line">
                <div style="font-size: 0.5rem;color:#141414;">
                    <p>售后申请编号：326013047674</p>
                    <p>申请时间：326013047674</p>
                </div>
                <p class="gray-pay b">退货退款失败</p>
            </div>
            <div class="goods-detail">
                <p class="img-part"><img src="images/test1.jpg" alt="图片暂缺"/></p>
                <div class="txt-part">
                    <p class="more-ellipsis">Autobot Q车载手机支架汽车磁性粘贴吸盘式吸磁力出风口苹果粘贴吸盘式吸磁力出风口苹果</p>
                    <div class="flex-between">
                        <p class="one-ellipsis">
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                        </p>
                        <p class="count">
                            x3
                        </p>
                    </div>
                </div>
            </div>
            <div class="fourth-line">
                <p style="font-size: 0.45rem;color:#3c3c3c;">售后类型：退款退货</p>
                <a href="#" class="gray btn show-mask" data-info="delete">删除</a>
            </div>
        </div>
        <div class="a-order after-sale" data-order="after-over">
            <div class="first-line">
                <div style="font-size: 0.5rem;color:#141414;">
                    <p>售后申请编号：326013047674</p>
                    <p>申请时间：326013047674</p>
                </div>
                <p class="gray-pay b">已取消售后</p>
            </div>
            <div class="goods-detail">
                <p class="img-part"><img src="images/test1.jpg" alt="图片暂缺"/></p>
                <div class="txt-part">
                    <p class="more-ellipsis">Autobot Q车载手机支架汽车磁性粘贴吸盘式吸磁力出风口苹果粘贴吸盘式吸磁力出风口苹果</p>
                    <div class="flex-between">
                        <p class="one-ellipsis">
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                        </p>
                        <p class="count">
                            x3
                        </p>
                    </div>
                </div>
            </div>
            <div class="fourth-line">
                <p style="font-size: 0.45rem;color:#3c3c3c;">售后类型：退款退货</p>
                <a href="#" class="gray btn show-mask" data-info="delete">删除</a>
            </div>
        </div>
        <div class="a-order after-sale" data-order="after-hand">
            <div class="first-line">
                <div style="font-size: 0.5rem;color:#141414;">
                    <p>售后申请编号：326013047674</p>
                    <p>申请时间：326013047674</p>
                </div>
                <p class="gray-pay b">处理中</p>
            </div>
            <div class="goods-detail">
                <p class="img-part"><img src="images/test1.jpg" alt="图片暂缺"/></p>
                <div class="txt-part">
                    <p class="more-ellipsis">Autobot Q车载手机支架汽车磁性粘贴吸盘式吸磁力出风口苹果粘贴吸盘式吸磁力出风口苹果</p>
                    <div class="flex-between">
                        <p class="one-ellipsis">
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                        </p>
                        <p class="count">
                            x3
                        </p>
                    </div>
                </div>
            </div>
            <div class="fourth-line">
                <p style="font-size: 0.45rem;color:#3c3c3c;">售后类型：换货</p>
                <a href="#" class="red btn show-mask" data-info="cancel">取消售后</a>
            </div>
        </div>
    </div>
</section>
<div class="mask stopMove hide">
    <div class="mask-shade close-mask"></div>
    <div class="mask-content alert">
        <p class="alert-txt">取消申请售后，订单将恢复原状态，确定取消吗？</p>
        <div class="alert-btn">
            <p class="close-mask alert-sure item">确定</p>
            <p class="close-mask alert-cancel item">取消</p>
        </div>
    </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/interaction.js"></script>

</body>
</html>