<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="IE=Edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <title></title>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/icon-base64.css"/>
</head>
<body>
<header class="nav fixed">
    <!--点击go-back元素会启动window.history.back()-->
    <div class="nav-l go-back">
        <i class="icon-base i-back"></i>
    </div>
    <div class="nav-m">售后详情</div>
    <div class="nav-r"></div>
</header>
<section  class="mobile-container default-f-s stopMove nav-top-p">
    <div>
        <div class="content-display normal-MB">
            <p class="content-title">您已主动取消售后申请！</p>
        </div>
        <div class="content-txt normal-MB">
            <p class="txt-title">售后清单</p>
            <p class="txt-detail">售后申请编号：2342513245324652</p>
            <p class="txt-detail">申请时间：2017-12-12  12:12:1</p>
            <p class="txt-detail">审核时间：2017-12-12  12:12:12</p>
        </div>
        <div class="a-order after-sale  normal-MB" data-order="after-hand">
            <div class="first-line">
                <div style="font-size: 0.5rem;color:#141414;">
                    <p>订单编号：326013047674</p>
                </div>
            </div>
            <div class="goods-detail" style="border:none;">
                <p class="img-part"><img src="images/test1.jpg" alt="图片暂缺"/></p>
                <div class="txt-part">
                    <p class="more-ellipsis">Autobot Q车载手机支架汽车磁性粘贴吸盘式吸磁力出风口苹果粘贴吸盘式吸磁力出风口苹果</p>
                    <div class="flex-between">
                        <p class="one-ellipsis">
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                        </p>
                        <p class="count">
                            x3
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-txt normal-MB">
            <p class="gray-txt">售后类型：退款退货</p>
            <p class="gray-txt">退款路径：按原路返回</p>
            <div class="gray-txt flex" style="margin-bottom:0.6rem;">
                <p class="flex-original">售后原因：</p>
                <div class="flex-allow">
                    <p class="big-MB" style="line-height: 0.9rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida</p>
                    <div class="permit-img img-show">
                        <!--图片的表单name暂时都是images FormData中key是唯一的，但是同一个value可以有很多-->
                        <div class="img-item">
                            <img src="images/test1.jpg" alt=""/>
                        </div>
                        <div class="img-item">
                            <img src="images/test1.jpg" alt=""/>
                        </div>
                        <div class="img-item">
                            <img src="images/t2.png" alt=""/>
                        </div>
                        <div class="img-item">
                            <img src="images/test1.jpg" alt=""/>
                        </div>
                        <div class="img-item">
                            <img src="images/test1.jpg" alt=""/>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<div class="mask stopMove hide">
    <div class="mask-shade close-mask"></div>
    <div class="big-img-show close-mask hide mask-item">
        <img src="images/test1.jpg" alt=""/>
    </div>
</div>


<script src="js/jquery.min.js"></script>
<script src="js/interaction.js"></script>
<script src="js/img-preview.js"></script>

</body>
</html>