<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="IE=Edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <title></title>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/icon-base64.css"/>
</head>
<body>
<header class="nav fixed">
    <!--点击go-back元素会启动window.history.back()-->
    <div class="nav-l go-back" onclick="javascript:history.back();">
        <i class="icon-base i-back"></i>
    </div>
    <div class="nav-m">收货地址</div>
    <a class="nav-r" href="#">
        添加
    </a>
</header>
<section  class="mobile-container default-f-s stopMove nav-top-p white">
    <div>
        <div class="addr-parent item-move-elm">
            <a class="addr-show item-move-part" href="#">
                <div>
                    <p>收货人：张三</p>
                    <p>收货地址：深圳罗湖区</p>
                    <p class="check-part">
                        <label class="flex">
                            <input type="radio" class="checkbox-btn" name="defaultAddr"/>
                            <i class="checkbox-show"></i>
                            <span>设为默认地址</span>
                        </label>
                    </p>
                </div>
                <i class="icon-base i-rArrows"></i>
            </a>
            <div class="hide-option">
                <a class="item item-delete" href="#">删除</a>
            </div>
        </div>
        <div class="addr-parent item-move-elm">
            <a class="addr-show item-move-part" href="#">
                <div>
                    <p>收货人：张三</p>
                    <p>收货地址：深圳罗湖区</p>
                    <p class="check-part">
                        <label class="flex">
                            <input type="radio" class="checkbox-btn" name="defaultAddr"/>
                            <i class="checkbox-show"></i>
                            <span>设为默认地址</span>
                        </label>
                    </p>
                </div>
                <i class="icon-base i-rArrows"></i>
            </a>
            <div class="hide-option">
                <a class="item item-delete" href="#">删除</a>
            </div>
        </div>
    </div>
</section>

<script src="js/jquery.min.js"></script>
<script src="js/interaction.js"></script>

</body>
</html>