<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="IE=Edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <title></title>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/icon-base64.css"/>
</head>
<body>
<header class="nav fixed">
    <!--点击go-back元素会启动window.history.back()-->
    <div class="nav-l go-back">
        <i class="icon-base i-back"></i>
    </div>
    <div class="nav-m">我的订单</div>
    <div class="nav-r"></div>
</header>
<section   class="mobile-container default-f-s stopMove nav-top-p">
    <div>
        <div class="a-list order-option">
            <a href="#" class="item active" data-option="all">全部</a>
            <a href="#" class="item" data-option="await-pay">待付款</a>
            <a href="#" class="item" data-option="await-shipments">待发货</a>
            <a href="#" class="item" data-option="await-receipt">待收货</a>
            <a href="#" class="item" data-option="completed">已完成</a>
        </div>
        <div class="a-order" data-order="await-pay">
            <div class="first-line">
                <p>订单号：326013047674</p>
                <p class="gray-pay">待付款</p>
            </div>
            <a class="goods-detail" href="#">
                <p class="img-part"><img src="images/test1.jpg" alt="图片暂缺"/></p>
                <div class="txt-part">
                    <p class="more-ellipsis">Autobot Q车载手机支架汽车磁性粘贴吸盘式吸磁力出风口苹果粘贴吸盘式吸磁力出风口苹果</p>
                    <div class="flex-between">
                        <p class="one-ellipsis">
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                        </p>
                        <p class="count">
                            x3
                        </p>
                    </div>
                </div>
            </a>
            <div class="third-line">
                共三件商品，实付：<span class="red">￥250.00</span>&nbsp;(含运费：￥8.00)
            </div>
            <div class="fourth-line">
                <a href="#" class="red btn">去付款</a>
            </div>
        </div>
        <div class="a-order" data-order="await-pay">
            <div class="first-line">
                <p>订单号：326013047674</p>
                <p class="gray-pay">交易关闭</p>
            </div>
            <a class="goods-detail" href="#">
                <p class="img-part"><img src="images/test1.jpg" alt="图片暂缺"/></p>
                <div class="txt-part">
                    <p class="more-ellipsis">Autobot Q车载手机支架汽车磁性粘贴吸盘式吸磁力出风口苹果粘贴吸盘式吸磁力出风口苹果</p>
                    <div class="flex-between">
                        <p class="one-ellipsis">
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                        </p>
                        <p class="count">
                            x3
                        </p>
                    </div>
                </div>
            </a>
            <div class="third-line">
                共三件商品，实付：<span class="red">￥250.00</span>&nbsp;(含运费：￥8.00)
            </div>
            <div class="fourth-line">
                <a href="#" class="btn" data-info="deleteOrder">删除订单</a>
            </div>
        </div>
        <div class="a-order">
            <div class="first-line">
                <p>订单号：326013047674</p>
                <p class="gray-pay">待发货</p>
            </div>
            <a class="goods-detail" href="#">
                <p class="img-part"><img src="images/test1.jpg" alt="图片暂缺"/></p>
                <div class="txt-part">
                    <p class="more-ellipsis">Autobot Q车载手机支架汽车磁性粘贴吸盘式吸磁力出风口苹果粘贴吸盘式吸磁力出风口苹果</p>
                    <div class="flex-between">
                        <p class="one-ellipsis">
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                        </p>
                        <p class="count">
                            x3
                        </p>
                    </div>
                </div>
            </a>
            <a class="goods-detail" href="#">
                <p class="img-part"><img src="images/test1.jpg" alt="图片暂缺"/></p>
                <div class="txt-part">
                    <p class="more-ellipsis">Autobot Q车载手机支架汽车磁性粘贴吸盘式吸磁力出风口苹果粘贴吸盘式吸磁力出风口苹果</p>
                    <div class="flex-between">
                        <p class="one-ellipsis">
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                        </p>
                        <p class="count">
                            x3
                        </p>
                    </div>
                </div>
            </a>
            <div class="third-line">
                共三件商品，实付：<span class="red">￥250.00</span>&nbsp;(含运费：￥8.00)
            </div>
            <!--<div class="fourth-line">-->
                <!--<a href="#" class="btn" data-process="cancelOrder">取消订单</a>-->
            <!--</div>-->
        </div>
        <div class="a-order" data-order="await-shipments">
            <div class="first-line">
                <p>订单号：326013047674</p>
                <p class="gray-pay">退款退货中</p>
            </div>
            <a class="goods-detail" href="#">
                <p class="img-part"><img src="images/test1.jpg" alt="图片暂缺"/></p>
                <div class="txt-part">
                    <p class="more-ellipsis">Autobot Q车载手机支架汽车磁性粘贴吸盘式吸磁力出风口苹果粘贴吸盘式吸磁力出风口苹果</p>
                    <div class="flex-between">
                        <p class="one-ellipsis">
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                        </p>
                        <p class="count">
                            x3
                        </p>
                    </div>
                </div>
            </a>
            <a class="goods-detail" href="#">
                <p class="img-part"><img src="images/test1.jpg" alt="图片暂缺"/></p>
                <div class="txt-part">
                    <p class="more-ellipsis">Autobot Q车载手机支架汽车磁性粘贴吸盘式吸磁力出风口苹果粘贴吸盘式吸磁力出风口苹果</p>
                    <div class="flex-between">
                        <p class="one-ellipsis">
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                        </p>
                        <p class="count">
                            x3
                        </p>
                    </div>
                </div>
            </a>
            <a class="goods-detail" href="#">
                <p class="img-part"><img src="images/test1.jpg" alt="图片暂缺"/></p>
                <div class="txt-part">
                    <p class="more-ellipsis">Autobot Q车载手机支架汽车磁性粘贴吸盘式吸磁力出风口苹果粘贴吸盘式吸磁力出风口苹果</p>
                    <div class="flex-between">
                        <p class="one-ellipsis">
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                        </p>
                        <p class="count">
                            x3
                        </p>
                    </div>
                </div>
            </a>
            <div class="third-line">
                共三件商品，实付：<span class="red">￥250.00</span>&nbsp;(含运费：￥8.00)
            </div>

        </div>
        <div class="a-order" data-order="await-receipt">
            <div class="first-line">
                <p>订单号：326013047674</p>
                <p class="gray-pay">待收货</p>
            </div>
            <a class="goods-detail" href="#待收货">
                <p class="img-part"><img src="images/test1.jpg" alt="图片暂缺"/></p>
                <div class="txt-part">
                    <p class="more-ellipsis">Autobot Q车载手机支架汽车磁性粘贴吸盘式吸磁力出风口苹果粘贴吸盘式吸磁力出风口苹果</p>
                    <div class="flex-between">
                        <p class="one-ellipsis">
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                        </p>
                        <p class="count">
                            x3
                        </p>
                    </div>
                </div>
            </a>
            <div class="third-line">
                共三件商品，实付：<span class="red">￥250.00</span>&nbsp;(含运费：￥8.00)
            </div>
            <div class="fourth-line">
                <a href="#" class="btn">查看物流</a>
                <a href="#" class="btn red" data-process="confirmReceipt">确认收货</a>
            </div>
        </div>
        <div class="a-order" data-order="await-receipt">
            <div class="first-line">
                <p>订单号：326013047674</p>
                <p class="gray-pay">退款退货中</p>
            </div>
            <a class="goods-detail" href="#">
                <p class="img-part"><img src="images/test1.jpg" alt="图片暂缺"/></p>
                <div class="txt-part">
                    <p class="more-ellipsis">Autobot Q车载手机支架汽车磁性粘贴吸盘式吸磁力出风口苹果粘贴吸盘式吸磁力出风口苹果</p>
                    <div class="flex-between">
                        <p class="one-ellipsis">
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                        </p>
                        <p class="count">
                            x3
                        </p>
                    </div>
                </div>
            </a>
            <div class="third-line">
                共三件商品，实付：<span class="red">￥250.00</span>&nbsp;(含运费：￥8.00)
            </div>
            <!--<div class="fourth-line">-->
                <!--<a href="#" class="btn">查看物流</a>-->
                <!--<a href="#" class="btn red">确认收货</a>-->
            <!--</div>-->
        </div>
        <div class="a-order" data-order="completed">
            <div class="first-line">
                <p>订单号：326013047674</p>
                <p class="gray-pay">交易成功</p>
            </div>
            <a class="goods-detail" href="#商品详情页面">
                <p class="img-part"><img src="images/test1.jpg" alt="图片暂缺"/></p>
                <div class="txt-part">
                    <p class="more-ellipsis">Autobot Q车载手机支架汽车磁性粘贴吸盘式吸磁力出风口苹果粘贴吸盘式吸磁力出风口苹果</p>
                    <div class="flex-between">
                        <p class="one-ellipsis">
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                            <span>材质：金属</span><span>颜色：深空色</span>
                        </p>
                        <p class="count">
                            x3
                        </p>
                    </div>
                </div>
            </a>
            <div class="third-line">
                共三件商品，实付：<span class="red">￥250.00</span>&nbsp;(含运费：￥8.00)
            </div>
            <div class="fourth-line">
                <!--待收货处点击收货完成后，这里变成订单完成的状态-->
                <!--<a href="#" class="btn" data-process="deleteOrder">删除订单</a>-->
                <a href="#商品详情页面" class="btn red">再次购买</a>
            </div>
        </div>
    </div>
</section>

<!--弹窗提示-->
<div class="mask stopMove hide">
    <div class="mask-shade close-mask"></div>
    <div class="mask-content alert">
        <p class="alert-txt">取消申请售后，订单将恢复原状态，确定取消吗？</p>
        <div class="alert-btn">
            <p class="close-mask alert-sure item" data-state="cancelOrder">确定</p>
            <p class="close-mask alert-cancel item">取消</p>
        </div>
    </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/interaction.js"></script>
<script src="js/myMask.js"></script>
<script>
    $('.mobile-container').on('click','[data-process]',function(e){
        e.preventDefault();
        var process=$(this).attr('data-process');
        switch(process){
            case "confirmReceipt":
                sendAjax('confirmReceipt',this,'首页.html',null,'订单已完成');
                break;
            case "cancelOrder":
                sendAjax('cancelOrder',this,'首页.html',null,'取消订单');
                break;
            default:

        }
    });
    //加载中图调用方法 使用myMask.js
    /*
     myAlert(txt,time,delayed)，第一个参数是弹窗提示的文字，第二个是延迟消失的时间，第三个参数是是否启用延迟关闭
     如果不启用延迟关闭，可调用 closeAlert()函数直接关闭myMask遮罩层
    * */
    //模拟发送请求的
    function sendAjax(course,that,url,data,newText,infoText,newState,times){
        times=times || 3000;
        //调用加载效果页面
        showLoad();
        var sucTxt='',errTxt='',process='';

        switch(course){
            case 'afterSale':
                sucTxt='已成功'+infoText+'!';
                errTxt=infoText+'失败！';
                break;
            case 'confirmReceipt':
                sucTxt="收货完成!";
                errTxt='收货失败!';
                process='您还有商品未发货，暂时不可以确认收货!';
                break;
            default:

        }
        $.ajax({
            url:url,
            data:data,
            success:function(){
                hideLoad();//关闭加载图
                switch(course){
                    case 'afterSale':
                        //申请成功后的回调函数，申请售后变成取消售后
                        myAlert(sucTxt,times*2/3,true);

                        break;
                    case 'confirmReceipt':
                        //这里是点击了 确认收货

                        break;
                    default:

                }
            },
            error:function(){
                hideLoad();//关闭加载图
                myAlert(errTxt,times,true);
            }
        })
    }
</script>

</body>
</html>