<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="IE=Edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <title></title>
    <link rel="stylesheet" href="css/logistics.css"/>
</head>
<body>
<header class="nav fixed">
    <!--点击go-back元素会启动window.history.back()-->
    <div class="nav-l go-back">
        <i class="icon-base i-back"></i>
    </div>
    <div class="nav-m">物流跟踪</div>
    <div class="nav-r"></div>
</header>
<section  class="mobile-container default-f-s stopMove nav-top-p">
    <div>
    <div class="order_success ">
        <div class="row">
            <div class="clear col_3 center order-option">
                <div class="left b_bottom active item">包裹一</div>
                <div class="left b_bottom item">包裹二</div>
                <div class="left b_bottom item">包裹三</div>
            </div>
        </div>
        <div class="img_msg s_size clear relative">
            <div class="left center img_show">
                <img src="images/t3.png" alt=""/>
                <div class="txt_show">
                    12
                </div>
            </div>
            <div class="left img_info s_sizes">
                <p>物流状态：<span>已发货</span></p>
                <p>物流编号：<span>66666666666</span></p>
                <p>承运来源：<span>顺丰</span></p>
            </div>
        </div>
        <div class="row s_size relative gray_dark">
            <div class="v_line"></div>
            <div  class="relative green-now">
                <div class="circle"></div>
                <div class="r_title r_detail clear">
                    <p>快件已由代收点签收</p>
                    <p class="super_s_size">2017-4-26 18:56:40</p>
                </div>
            </div>
            <div  class="relative">
                <div class="circle"></div>
                <div class="r_title r_detail clear">
                    <p><span>【深圳市】</span><span>广东省深圳市福田区派件员正在为您派件</span>&nbsp;<span>网点客服电话:07556888888</span></p>
                    <p class="super_s_size">2017-4-26 18:56:40</p>
                </div>
            </div>
            <div  class="relative">
                <div class="circle"></div>
                <div class="r_title r_detail clear">
                    <p><span>【深圳市】</span><span>快件已到达</span>&nbsp;<span>广东省深圳市福田区</span></p>
                    <p class="super_s_size">2017-4-26 18:56:40</p>
                </div>
            </div>
            <div  class="relative">
                <div class="circle"></div>
                <div class="r_title r_detail clear">
                    <p><span>【深圳市】</span><span>深圳市转运中心</span>&nbsp;<span>已出发</span></p>
                    <p class="super_s_size">2017-4-26 18:56:40</p>
                </div>
            </div>
            <div  class="relative">
                <div class="circle"></div>
                <div class="r_title r_detail clear">
                    <p><span>【深圳市】</span><span>圆通速递</span> <span>广东省广州市嘉和收件员</span>&nbsp;<span>已揽件</span></p>
                    <p class="super_s_size">2017-4-26 18:56:40</p>
                </div>
            </div>
            <div  class="relative">
                <div class="circle"></div>
                <div class="r_title r_detail clear">
                    <p><span>广东省广州市嘉和公司</span>&nbsp;<span>已打包</span></p>
                    <p class="super_s_size">2017-4-26 18:56:40</p>
                </div>
            </div>
            <div  class="relative">
                <div class="circle"></div>
                <div class="r_title r_detail clear">
                    <p><span>您的订单已入库</span></p>
                    <p class="super_s_size">2017-4-26 18:56:40</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>


<script src="js/jquery.min.js"></script>
<script src="js/interaction.js"></script>

</body>
</html>