<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="IE=Edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <title></title>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/icon-base64.css"/>
</head>
<body>
<section class="mobile-container bottom-padding default-f-s stopMove">
    <div class="clear">
        <div class="merchant my-center">
            <div class="mer-img"><img src="images/t1.png" alt=""/></div>
            <div class="mer-title">轮毂改装店家</div>
        </div>
        <a href="#" class="some-my-line">
            <p class="flex-center">
                <i class="icon-base small i-list"></i>
                <span class="item-name">我的订单</span>
            </p>
            <i class="icon-base small i-rArrows"></i>
        </a>
        <a href="#" class="some-my-line">
            <p class="flex-center">
                <i class="icon-base small i-afterSale"></i>
                <span class="item-name">我的售后</span>
            </p>
            <i class="icon-base small i-rArrows"></i>
        </a>
        <a href="#" class="some-my-line">
            <p class="flex-center">
                <i class="icon-base small i-addr"></i>
                <span class="item-name">收货地址</span>
            </p>
            <i class="icon-base small i-rArrows"></i>
        </a>
        <a href="#" class="some-my-line">
            <p class="flex-center">
                <i class="icon-base small i-service"></i>
                <span class="item-name">帮助与客服</span>
            </p>
            <i class="icon-base small i-rArrows"></i>
        </a>
    </div>
</section>
<footer class="bottom-container">
    <div class="bottom-nav">
        <!--注意，不仅仅a标记需要增加active，.icon-base元素也需要增加active，不然不会有图标的变化-->
        <a class="item" href="#">
            <p class="icon-base i-home b-nav-m"></p>
            <p class="b-nav-m">首页</p>
        </a>
        <a class="item show-mask">
            <p class="icon-base i-classify b-nav-m"></p>
            <p class="b-nav-m">分类</p>
        </a>
        <a class="item" href="#">
            <p class="icon-base i-car b-nav-m"></p>
            <p class="b-nav-m">购物车</p>
        </a>
        <a class="item active" href="#">
            <p class="icon-base i-my b-nav-m active"></p>
            <p class="b-nav-m">我的</p>
        </a>
    </div>
</footer>
<div class="aside-classify mask hide">
    <div class="mask-shade close-mask"></div>
    <div class="mask-content classify-content moveParent ovfHiden">
        <div class="moveChild clear">
            <p class="c-content-title">
                <i class="icon-base i-black-classify"></i>
                <span class="classify-title">商品分类</span>
            </p>
            <a class="c-content-list" href="#">
                <span>轮毂改装</span>
            </a>
            <a class="c-content-list" href="#">
                <span>轮毂改装</span>
            </a>
            <a class="c-content-list" href="#">
                <span>轮毂改装</span>
            </a>
            <a class="c-content-list" href="#">
                <span>轮毂改装</span>
            </a>
            <a class="c-content-list" href="#">
                <span>轮毂改装</span>
            </a>
            <a class="c-content-list" href="#">
                <span>轮毂改装</span>
            </a>
            <a class="c-content-list" href="#">
                <span>轮毂改装</span>
            </a>
            <a class="c-content-list" href="#">
                <span>轮毂改装</span>
            </a>
            <a class="c-content-list" href="#">
                <span>轮毂改装</span>
            </a>
            <a class="c-content-list" href="#">
                <span>轮毂改装</span>
            </a>
            <a class="c-content-list" href="#">
                <span>轮毂改装</span>
            </a>
            <a class="c-content-list" href="#">
                <span>轮毂改装</span>
            </a>
            <a class="c-content-list" href="#">
                <span>轮毂改装</span>
            </a>
            <a class="c-content-list" href="#">
                <span>轮毂改装</span>
            </a>
            <a class="c-content-list" href="#">
                <span>轮毂改装</span>
            </a>
        </div>
    </div>
    <div class="classify-icon close-mask">
        <i class="icon-base i-double-arrow"></i>
    </div>
</div>


<script src="js/jquery.min.js"></script>
<script src="js/interaction.js"></script>

</body>
</html>