<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="IE=Edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <title></title>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/icon-base64.css"/>
</head>
<body>
<header class="nav fixed">
    <!--点击go-back元素会启动window.history.back()-->
    <div class="nav-l go-back">
        <i class="icon-base i-back"></i>
    </div>
    <div class="nav-m">申请售后</div>
    <div class="nav-r"></div>
</header>
<section  class="mobile-container default-f-s stopMove nav-top-p">
    <div class="content-detail">
        <div class="text-c" style="padding:2rem;">
            <img src="images/success.png" style="width:5rem;height:5rem;"/>
        </div>
        <p  class="text-c" style="font-size:0.8rem;color:#868686;">申请提交成功，请耐心等待工作人员处理！</p>
        <div class="static-part" style="margin-top: 1.5rem;">
            <a href="#" class="gray-btn" style="font-size:0.8rem;color:#161616;background-color: #c5c3c3;">查看申请进度</a>
        </div>
    </div>
</section>

<script src="js/jquery.min.js"></script>
<script src="js/pinterest.js"></script>
<script src="js/interaction.js"></script>
<script src="js/img-preview.js"></script>


</body>
</html>
