<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="IE=Edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <title></title>
    <link rel="stylesheet" href="style/css/icon.css"/>
    <link rel="stylesheet" href="style/css/main.css"/>

    <style>

    </style>
</head>
<body>
<div class="yy-container">
    <div class="yy-header">
        <div class="flex relative">
            <p class="left-item" data-back="back">
                <i class="iconfont icon-back"></i>
            </p>
            <div class="elm-bottom">付款</div>
        </div>
    </div>
    <section class="yy-content padding">
        <div class="list-card fff top">
            <p class="a-normal-line nor  c44">
                <span class="left-item">订单编号：</span>
                <span>154578146574</span>
            </p>
            <p class="a-normal-line nor c44">
                <span class="left-item">订单总价：</span>
                <span>￥150.00</span>
            </p>
        </div>
        <div class="top list-card fff flex-normal" style="height:3rem;color:#262626;">
                <p>应支付定金金额：</p>
               <p class="red">￥<span style="font-size:1.1rem;">10.00</span></p>
        </div>
        <div class="top list-card fff child-height">
            <p class="bold flex-normal">支付方式</p>
            <label class="flex-part">
                <i class="iconfont icon-wechat"></i>
                <span class="item-grow">微信支付</span>
                <input type="checkbox" class="hide choice-item"  checked/>
                <i class="iconfont icon-successful"></i>
            </label>
        </div>
        <p style="margin-top: 70px;">
            <a href="#" class="detail reserve-btn reserve-btn--large reserve-btn--danger"
               style="width:150px;margin:0 auto;">确认支付</a>
        </p>
    </section>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/main.js"></script>

<script>

</script>
</body>
</html>


