<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="IE=Edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <title></title>
    <link rel="stylesheet" href="style/css/icon.css"/>
    <link rel="stylesheet" href="style/css/main.css"/>

    <style>

    </style>
</head>
<body>
<div class="yy-container">
    <div class="yy-header">
        <div class="flex relative">
            <p class="left-item" data-back="back">
                <i class="iconfont icon-back"></i>
            </p>
            <div class="elm-bottom">提交订单</div>
        </div>
    </div>
    <section class="yy-content padding">
        <div class="list-card fff">
            <div class="list-txt-img">
                <div class="img-txt relative">
                    <div class="i-t-img">
                        <img src="images/t3.png" alt=""/>
                    </div>
                    <div class="i-t-txt small sub-order">
                        <p class="normal co-0c">汽车养护保养</p>
                        <div class="flex-default">
                            <p class="gray-6 mar-r-nor">1套</p>
                            <p class="small mar-r-nor red">￥<b class="normal">150</b></p>
                            <p class="blue small" >订金:￥<span >10</span>&nbsp;&nbsp;尾款:￥<span >140</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="a-normal-line co-48">
                时间：<span data-fill="date">2018年1月1日</span>&nbsp;<span data-fill="hours">13:00</span>
            </div>
        </div>
        <div class="some-info">
            <p class="a-normal-line nor">客户信息</p>
            <p class="a-flex-line">
                <span class="a-txt-width">姓名</span>
                <input type="text" name="userName"/>
            </p>
            <p class="a-flex-line">
                <span class="a-txt-width">手机号</span>
                <input type="text" name="phone"/>
            </p>
        </div>
        <div class="some-info">
            <p class="a-normal-line nor">留言</p>
            <p class="nor">
                <textarea  name="leaveWord" id="" cols="30" rows="10" placeholder="有其它需求请写"></textarea>
            </p>
        </div>
    </section>
    <div class="yy-footer yy-fixed">
        <a href="#" class="detail reserve-btn reserve-btn--large reserve-btn--danger">提交订单</a>
    </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/main.js"></script>

<script>
    //填充数据
    getMyChoice();
</script>
</body>
</html>


