<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="IE=Edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <title></title>
    <link rel="stylesheet" href="style/css/icon.css"/>
    <link rel="stylesheet" href="style/css/main.css"/>

    <style>

    </style>
</head>
<body>
<div class="yy-container">
    <div class="yy-header">
        <div class="flex relative">
            <p class="left-item" data-back="back">
                <i class="iconfont icon-back"></i>
            </p>
            <div class="elm-bottom">确认订单</div>
        </div>
    </div>
    <section class="yy-content padding">
        <div class="some-info">
            <p class="a-normal-line nor" style="color:#8c8c8c;">订单是否正确？</p>
        </div>
        <div class="list-card fff">
            <div class="list-txt-img">
                <div class="img-txt relative detail">
                    <div class="i-t-img">
                        <img src="images/t3.png" alt=""/>
                    </div>
                    <div class="i-t-txt small sub-order">
                        <p class="normal co-0c">汽车养护保养</p>
                        <div class="flex-default">
                            <p class="gray-6 mar-r-nor">1套</p>
                            <p class="small mar-r-nor red">￥<b class="normal">150</b></p>
                            <p class="blue small" >订金:￥<span>10</span>&nbsp;&nbsp;尾款:￥<span class="final_pay">140</span></p>
                        </div>
                    </div>
                </div>
                <div class="a-e5-line">
                        <p class="a-normal-line nor">
                            <span class="left-item">时间</span>
                            <input type="text" readonly value="2018年1月1日 13:00"/>
                        </p>
                    <p class="a-normal-line nor">
                        <span class="left-item">姓名</span>
                        <input type="text" readonly value="张三"/>
                    </p>
                    <p class="a-normal-line nor">
                        <span class="left-item">手机号</span>
                        <input type="text" readonly value="13538105472"/>
                    </p>
                </div>
                <p class="a-normal-line nor">
                    <span class="left-item">留言</span>
                    <input type="text" readonly value="到店支付"/>
                </p>
            </div>
        </div>
    </section>
    <div class="yy-footer yy-fixed">
        <a href="#" class="detail reserve-btn reserve-btn--large reserve-btn--danger">支付定金</a>
    </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/main.js"></script>

<script>

</script>
</body>
</html>


