<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="IE=Edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <title></title>
    <link rel="stylesheet" href="style/css/icon.css"/>
    <link rel="stylesheet" href="style/css/main.css"/>

    <style>

    </style>
</head>
<body>
<div class="yy-container">
    <div class="yy-header">
        <div class="flex relative">
            <p class="left-item" data-back="back">
                <i class="iconfont icon-back"></i>
            </p>
            <div class="elm-bottom">订单</div>
        </div>
    </div>
    <section class="yy-content padding">
        <div class="flex-line order">
            <a href="#" class="active" data-item="nav">待确认</a>
            <a href="#" data-item="nav">已预约</a>
            <a href="#" data-item="nav">已完成</a>
            <a href="#" data-item="nav">已取消</a>
        </div>
        <div class="list-card order">
            <div class="list-flex">
                <p class="ss-size">订单编号：1712085543404</p>
                <p class="small red">
                    待商家确认
                </p>
            </div>
            <div class="list-txt-img order">
                <div class="img-txt">
                    <div class="i-t-img">
                        <img src="images/t3.png" alt=""/>
                    </div>
                    <div class="i-t-txt small">
                        <p>汽车养护保养</p>
                        <p class="gray-6">1套</p>
                    </div>
                </div>
                <div class="gray-7 ss-size">
                    日期：2018年1月5日 10:00
                </div>
            </div>
            <div class="list-flex unlike">
                <p class="small">共计：<span class="red">￥150</span></p>
                <!--<p class="blue ss-size">订金：￥10</p>-->
                <!--<p class="blue ss-size">尾款：￥140</p>-->
                <a href="#" class="gray-6 flex-inline small">
                    <span class="flex-inline txt-right">查看订单</span>
                    <i class="iconfont icon-go big"></i>
                </a>
            </div>
        </div>
        <div class="list-card order">
            <div class="list-flex">
                <p class="ss-size">订单编号：1712085543404</p>
                <p class="small red">
                    待使用
                </p>
            </div>
            <div class="list-txt-img order">
                <div class="img-txt">
                    <div class="i-t-img">
                        <img src="images/t3.png" alt=""/>
                    </div>
                    <div class="i-t-txt small">
                        <p>汽车养护保养</p>
                        <p class="gray-6">1套</p>
                    </div>
                </div>
                <div class="gray-7 ss-size">
                    日期：2018年1月5日 10:00
                </div>
            </div>
            <div class="list-flex unlike">
                <p class="small">共计：<span class="red">￥150</span></p>
                <!--<p class="blue ss-size">订金：￥10</p>-->
                <!--<p class="blue ss-size">尾款：￥140</p>-->
                <a href="#" class="gray-6 flex-inline small">
                    <span class="flex-inline txt-right">查看订单</span>
                    <i class="iconfont icon-go big"></i>
                </a>
            </div>
        </div>
        <div class="list-card order">
            <div class="list-flex">
                <p class="ss-size">订单编号：1712085543404</p>
                <p class="small red">
                    已完成
                </p>
            </div>
            <div class="list-txt-img order">
                <div class="img-txt">
                    <div class="i-t-img">
                        <img src="images/t3.png" alt=""/>
                    </div>
                    <div class="i-t-txt small">
                        <p>汽车养护保养</p>
                        <p class="gray-6">1套</p>
                    </div>
                </div>
                <div class="gray-7 ss-size">
                    日期：2018年1月5日 10:00
                </div>
            </div>
            <div class="list-flex unlike">
                <p class="small">共计：<span class="red">￥150</span></p>
                <p class="blue ss-size">订金：￥10</p>
                <p class="blue ss-size">尾款：￥140</p>
                <a href="#" class="gray-6 flex-inline small">
                    <span class="flex-inline txt-right">查看订单</span>
                    <i class="iconfont icon-go big"></i>
                </a>
            </div>
        </div>
        <div class="list-card order">
            <div class="list-flex">
                <p class="ss-size">订单编号：1712085543404</p>
                <p class="small red">
                    已完成
                </p>
            </div>
            <div class="list-txt-img order">
                <div class="img-txt">
                    <div class="i-t-img">
                        <img src="images/t3.png" alt=""/>
                    </div>
                    <div class="i-t-txt small">
                        <p>汽车养护保养</p>
                        <p class="gray-6">1套</p>
                    </div>
                </div>
                <div class="gray-7 ss-size">
                    日期：2018年1月5日 10:00
                </div>
            </div>
            <div class="list-flex unlike">
                <p class="small">共计：<span class="red">￥150</span></p>
                <!--<p class="blue ss-size">订金：￥10</p>-->
                <!--<p class="blue ss-size">尾款：￥140</p>-->
                <a href="#" class="gray-6 flex-inline small">
                    <span class="flex-inline txt-right">查看订单</span>
                    <i class="iconfont icon-go big"></i>
                </a>
            </div>
        </div>
        <div class="list-card order">
            <div class="list-flex">
                <p class="ss-size">订单编号：1712085543404</p>
                <p class="small red">
                   已取消
                </p>
            </div>
            <div class="list-txt-img order">
                <div class="img-txt">
                    <div class="i-t-img">
                        <img src="images/t3.png" alt=""/>
                    </div>
                    <div class="i-t-txt small">
                        <p>汽车养护保养</p>
                        <p class="gray-6">1套</p>
                    </div>
                </div>
                <div class="gray-7 ss-size">
                    日期：2018年1月5日 10:00
                </div>
            </div>
            <div class="list-flex unlike">
                <p class="small">共计：<span class="red">￥150</span></p>
                <!--<p class="blue ss-size">订金：￥10</p>-->
                <!--<p class="blue ss-size">尾款：￥140</p>-->
                <a href="#" class="gray-6 flex-inline small">
                    <span class="flex-inline txt-right">查看订单</span>
                    <i class="iconfont icon-go big"></i>
                </a>
            </div>
        </div>
    </section>
    <div class="yy-footer">
        <div class="mint-tabbar is-fixed">
            <a class="mint-tab-item" data-item="nav">
                <div class="mint-tab-item-icon">
                    <i class="iconfont icon-booking"></i>
                </div>
                <div class="mint-tab-item-label">
                    预约
                </div>
            </a>
            <a class="mint-tab-item active" data-item="nav">
                <div class="mint-tab-item-icon">
                    <i class="iconfont icon-order"></i>
                </div>
                <div class="mint-tab-item-label">
                    订单
                </div>
            </a>
            <a class="mint-tab-item" data-item="nav">
                <div class="mint-tab-item-icon">
                    <i class="iconfont icon-my"></i>
                </div>
                <div class="mint-tab-item-label">
                    我的
                </div>
            </a>
        </div>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>


