<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="IE=Edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <title></title>
    <link rel="stylesheet" href="style/css/icon.css"/>
    <link rel="stylesheet" href="style/css/main.css"/>

    <style>

    </style>
</head>
<body>
<div class="yy-container">
    <div class="yy-header">
        <div class="flex relative">
            <p class="left-item" data-back="back">
                <i class="iconfont icon-back"></i>
            </p>
            <div class="elm-bottom">订单详情</div>
        </div>
    </div>
    <section class="yy-content padding">
        <div class="list-card order">
            <div class="list-txt-img">
                <div class="img-txt detail relative">
                    <div class="i-t-img">
                        <img src="images/t3.png" alt=""/>
                    </div>
                    <div class="i-t-txt small">
                        <p>汽车养护保养</p>
                        <p class="gray-6">1套</p>
                        <div class="flex-normal small relative">
                            <p class="small red">￥<b class="normal">150</b></p>
                            <p class="blue ss-size">订金:￥10</p>
                            <p class="blue ss-size">尾款:￥140</p>
                        </div>
                    </div>
                    <div class="flex-center-in absolute">
                        <i class="bg-img to-used"></i>
                    </div>
                </div>
            </div>
            <div class="data-list">
                <p>
                    <span>订单编号</span>
                    <span>1712118036662</span>
                </p>
                <p>
                    <span>下单时间</span>
                    <span>2018年1月1日 9:00</span>
                </p>
                <p>
                    <span>预约时间</span>
                    <span>2018年1月1日 9:00</span>
                </p>
                <p>
                    <span>姓名</span>
                    <span>1712118036662</span>
                </p>
                <p>
                    <span>手机号</span>
                    <span>13538105472</span>
                </p>
            </div>
            <div class="data-list detail">
                <p>
                    <span>留言</span>
                    <span>到店支付</span>
                </p>
            </div>
        </div>
        <div class="list-card order">
            <div class="list-txt-img">
                <div class="img-txt detail relative">
                    <div class="i-t-img">
                        <img src="images/t3.png" alt=""/>
                    </div>
                    <div class="i-t-txt small">
                        <p>汽车养护保养</p>
                        <p class="gray-6">1套</p>
                        <div class="flex-normal small relative">
                            <p class="small red">￥<b class="normal">150</b></p>
                            <p class="blue ss-size">订金:￥10</p>
                            <p class="blue ss-size">尾款:￥140</p>
                        </div>
                    </div>
                    <div class="flex-center-in absolute">
                        <i class="bg-img"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-card order">
            <div class="list-txt-img">
                <div class="img-txt detail relative">
                    <div class="i-t-img">
                        <img src="images/t3.png" alt=""/>
                    </div>
                    <div class="i-t-txt small">
                        <p>汽车养护保养</p>
                        <p class="gray-6">1套</p>
                        <div class="flex-normal small relative">
                            <p class="small red">￥<b class="normal">150</b></p>
                            <p class="blue ss-size">订金:￥10</p>
                            <p class="blue ss-size">尾款:￥140</p>
                        </div>
                    </div>
                    <div class="flex-center-in absolute">
                        <i class="bg-img completed"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-card order">
            <div class="list-txt-img">
                <div class="img-txt detail relative">
                    <div class="i-t-img">
                        <img src="images/t3.png" alt=""/>
                    </div>
                    <div class="i-t-txt small">
                        <p>汽车养护保养</p>
                        <p class="gray-6">1套</p>
                    </div>
                    <div class="flex-center-in absolute">
                        <i class="bg-img cancelled"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="yy-footer yy-fixed">
        <a href="tel:123456" class="detail reserve-btn reserve-btn--large reserve-btn--danger">联系商家</a>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>


