<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="IE=Edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <title></title>
    <link rel="stylesheet" href="style/css/icon.css"/>
    <link rel="stylesheet" href="style/css/main.css"/>

    <style>

    </style>
</head>
<body>
<div class="yy-container">
    <div class="yy-header">
        <div class="flex relative">
            <p class="left-item" data-back="back">
                <i class="iconfont icon-back"></i>
            </p>
            <div class="elm-bottom">预约成功</div>
        </div>
    </div>
    <section class="yy-content padding">
            <div class="center yy-success">
                <p class="blue" >
                    <i class="iconfont icon-yuyue bigIcon"></i>
                </p>
                <p class="s-title" style="margin: 1rem auto 0.5rem auto;">预约成功</p>
                <p class="s-gray">感谢您预约服务，到店请出示订单或您的个人信息</p>
                <p style="margin-top: 70px;">
                    <a href="#" class="detail reserve-btn reserve-btn--large reserve-btn--danger"
                       style="width:150px;margin:0 auto;">查看订单</a>
                </p>
            </div>
    </section>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/main.js"></script>

<script>

</script>
</body>
</html>


