html,body{
    height:100%;
    -webkit-touch-callout: none;/*苹果的禁用长按事件*/
    -webkit-user-select: none;/*禁用手机浏览器的用户选择功能 */
    -moz-user-select: none;
}
.container{
    height:100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;
    /*在容器内部再定义一个元素，包住所有的其他元素，
        并且固定定位元素要在这个.container元素之外
    */
}